{% extends 'base.haml' %}
-if request.args.get('author')
    {% set blok_title  = "Author " + request.args.get('author') %}
-else
    {% set blok_title = "Library" %}
{% block title %} {{ blok_title }} {% endblock %}    

{% block body %}
-if books
    -for book in books
        %p -> %strong 
            %h4 -> {{ book.title }}
            -if 'nickname' in session
                %h6
                    %a href="{{ url_for('edit_book', title=book.title) }}" -> edit
                    %a href="{{ url_for('remove_book', title=book.title) }}" -> remove
        %p -> Authors: 
            -for author in book.authors
                ;%p -> %a href="{{ url_for('index') }}?author={{ author.name }}" -> {{ author.name }}
                {% set by_author = url_for('index')+'?author='+author.name %}
                {% set edit = url_for('edit_author', name=author.name) %}
                {% set rm = url_for('remove_author', name=author.name) %}
                ;%p -> %a href="{{ url_for('index') }}?author={{ author.name }}" -> {{ author.name }}
                -if 'nickname' in session
                    <button type="button" class="btn btn-default btn-sm btn-popover" data-container="body" data-toggle="popover" data-placement="bottom" data-content="<a href={{ by_author }}>{{ author.name }}'s books</a> <a href={{ edit }}>edit</a> <a href={{ rm }}>remove</a>">
                        {{ author.name }}
                    </button>
                -else
                    <button type="button" class="btn btn-default btn-sm btn-popover" data-container="body" data-toggle="popover" data-placement="bottom" data-content="<a href={{ by_author }}>{{ author.name }}'s books</a>">
                        {{ author.name }}
                    </button>
        %hr

{% endblock %}
