{% extends "base.haml" %}
{% block title %}{{ 'Registration' }}{% endblock %}
{% from '_formhelpers.haml' import render_field %}

{% block body %}
.row
    .col-xs-6
        %form role="form" action="{{ url_for('signup') }}" method="post"
            {{ render_field(form.nickname, 'user', 'nickname') }}
            {{ render_field(form.password, 'lock', 'password') }}
            {{ render_field(form.confirm, 'lock', 'repeat password') }}
            {{ form.hidden_tag() }}
            %button.btn.btn-success type="submit" value="submit"
                %span.glyphicon.glyphicon-edit
                {{ 'SignUp' }}
{% endblock %}